// This file is the SCSS used by the global project 

@use "./utils/_mixin.scss"; // import mixin

html,
* {
	@import url('https://fonts.cdnfonts.com/css/montserrat');

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.3s;
}



body {

	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;

	@media only screen and (min-width: 599px) {
		padding-left: 7%;
		padding-right: 7%;
		padding-top: 57px;
	}

	@media only screen and (min-width: 1600px) {
		padding-left: 14%;
		padding-right: 14%;
		padding-top: 57px;
	}




}