@use "../utils/_mixin.scss" as *;

/* GLOBAL PAGE STYLES */


.container-margin {
	@media only screen and (min-width: 600px) {
		margin-left: 50px;
		margin-right: 50px;
	}
}

.container-thumbs {
	@media only screen and (min-width: 600px) {
		background: #F7F7F7;
		border-radius: 25px;
		min-height: 150px;
	}
}

/* END ABOUT PAGES */