@use "../../utils/_mixin.scss" as *;

.header {
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;



	.logo {
		background-image: url("Logo.svg");
		background-size: contain;
		background-repeat: no-repeat;
		height: 47px;
		width: 145px;

		@include for-desktop {
			height: 68px;
			width: 210px;
		}
	}


	nav {
		display: flex;
		align-items: center;

		ul {
			list-style-type: none;
			display: flex;
			flex-direction: row;

			li {
				margin-left: 20px;

				@include for-desktop {
					margin-left: 57px;
				}

				a {
					@extend %font;
					font-size: 12px;

					color: #FF6060;
					text-decoration: none;
					text-transform: uppercase;

					@include for-desktop {
						font-size: 24px;
						text-transform: none;
					}
				}

				.selected {
					text-decoration: underline;
				}


			}
		}
	}
}