@use "../../utils/_utils.scss" as *;

.banner {
	transition: all 0.3s ease-in-out;

	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border-radius: 10px;

	@include for-desktop {
		border-radius: 25px;
	}

	z-index: -1;


	&:before {
		z-index: -1;
		border-radius: 10px;

		@include for-desktop {
			border-radius: 25px;
		}

		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, var(--bannerOpacity));

	
	}

	h1 {
		font-family: var(--fontFamily);
		margin-left: 16px;
		font-size: 24px;
		font-weight: 400;

		@include for-desktop {
			font-size: 48px;
			text-align: center;
			margin-left: 0;
		}

		color: var(--colorSecondary);
		display: flex;

		justify-content: center;
		flex-direction: column;
		height: 100%;
	}

}

.home {
	height: 111px;
	background-image: url("./home-mobile.png");
	@include margin-top-bottom(22px);

	@include for-desktop {
		background-image: url("./home-desktop.png");
		height: 223px;
		margin-top: 63px;
		margin-bottom: 43px;
	}
}

.about {
	height: 223px;
	@include margin-top-bottom(22px);
	background-image: url("./about-mobile.png");

	@include for-desktop {
		margin-top: 63px;
		margin-bottom: 31px;
		background-image: url("./about-desktop.png");
	}

}