@use "../../utils/_mixin.scss" as *;

.error-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	h1,
	p {
		font-family: 'Montserrat', sans-serif;
		color: #FF6060
	}

	h1 {
		font-size: 96px;

		@include for-not-mobile {
			font-size: 288px;
		}
	}

	p {
		font-size: 18px;
		padding-bottom: 10%;
		text-align: center;

		@include for-not-mobile {
			font-size: 36px;
		}

		&:last-child {
			padding-bottom: 0%;
		}


	}

	a {
		font-size: 14px;

		@include for-not-mobile {
			font-size: 18px;
		}

		color: #FF6060;

	}

}