@use "../../utils/_utils.scss" as *;


.footer {
	background-color: var(--colorThird);

	width: 100%;
	min-height: 209px;
	max-height: 209px;
	position: absolute;
	left: 0;

	margin-top: 200px;

	@include for-desktop {
		margin-top: 100px;
	}

	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	img {
		width: 122px;
		height: 40px;
	}

	p {
		@extend %fontType;
		font-size: 12px;

		@include for-desktop {
			font-size: 24px;
		}

		padding-top: 30px;
		color: white;
	}
}

.toggle-theme-wrapper {
	padding-top: 30px;
}