@use "../../utils/_mixin.scss" as *;


.footer {

	background-color: black;

	width: 100%;
	min-height: 209px;
	max-height: 209px;
	position: absolute;
	left: 0;

	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	img {
		width: 122px;
		height: 40px;
	}

	p {
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;

		@include for-not-mobile {
			font-size: 24px;
		}

		padding-top: 30px;
		color: white;
	}
}